
body {
    background-color: rgba(167, 141, 29, 0.849);


}
.head {
font-size: 500;
font-weight: 800;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h1 {
    font-weight: 45;

}
.list {
    font-size: 20;
    font-weight: 45;2
}
